<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TOSH.IO</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
      body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }

      h1 {
        text-align: center;
      }

      .result {
        text-align: center;
      }

      .btn {
        width: 100%;
      }

      .shortened a {
        color: #FF6A00;
        font-weight: bold;
        font-size: 18px;
      }

      .original a {
        color: #000000;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>TOSH.IO</h1>
      
      <form role="form" method="POST" class="form-horizontal">
        <div class="form-group form-group-lg">
          <label class="sr-only" for="url-to-shorten">Url</label>
          <div class="input-group">
            <div class="input-group-addon">Url</div>
            <input type="text" class="form-control" id="url-to-shorten" placeholder="Url to shorten" name="original_url">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Shorten</button>
      </form>
      
      <div class="result">
      <% if(@url) %>
        <div class="shortened"><a href="<%= @url.shorten %>"><%= @url.shorten %></a></div>
        <div class="original"><a href="<%= @url.original %>"><%= @url.original %></a></div>
      <% end %>
      </div>
    </div>
  </body>
</html>



