<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>TOSH.IO</title>

    <style>
      body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: center;
      }

      form {
        margin-top: 50px;
      }

      .btn {
        margin-top: 20px;
        width: 100%;
      }

      .shortened a {
        color: #FF6A00;
        font-weight: bold;
        font-size: 18px;
      }

      .original a {
        color: #000000;
      }

      .not-found {
        color: #ff0000;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <h1>TOSH.IO</h1>

      <% if(@not_found) %>
        <div class="not-found"><h2>NOT FOUND!</h2></div>
      <% end %>

      <form role="form" method="POST">
        <input type="url" class="form-control" id="url-to-shorten" placeholder="Url to shorten" name="original_url">
        <button type="submit" class="btn btn-primary">Shorten</button>
      </form>

      <div class="result">
      <% if(@url) %>
        <div class="shortened"><a href="<%= @url.shorten %>"><%= @url.shorten %></a></div>
        <div class="original"><a href="<%= @url.original %>"><%= @url.original %></a></div>
      <% end %>
      </div>
    </div>
  </body>
</html>



